:root {
    /* CORES (Substitua pelos códigos HEX do seu Figma) */
    --cor-primaria: #173ded; /* Azul vibrante (Destaque, Links) */
    --cor-secundaria: #000000; /* Preto Quase Escuro (Texto, Títulos) */
    --cor-fundo: #dcdee2; /* Cinza Muito Claro (Background) */
    --cor-card-fundo: #ffffff; /* Branco Puro (Fundo dos Cards) */
    --cor-bordas: #e9ecef; /* Cinza Claro (Bordas, Separadores) */
    --cor-alerta: #000051; /* Vermelho (Para o Alerta de Fake News) */
}

.cabecalho {
    background-color:var(--cor-alerta);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.logo img {
    /* Estilo de placeholder. Defina o tamanho real da sua logo. */
    width: 50px;
    height: 50px;
    background-color: var(--cor-bordas); 
    border-radius: 4px;
}

.artigos ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.artigos a {
    text-decoration: none;
    color: var(--cor-fundo);
    font-weight: 500;
    transition: color 0.3s;
    font-size: 1rem;
}

.artigos a:hover {
    color: var(--cor-primaria);
}